* {
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero{
    background-color: blue;
    height: 800px;
    text-align: center;
    position: relative;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero .content {
    position: relative;
    z-index: 99;
}

section{
    background-color: brown;
}

nav{
    display: flex;
    align-items: center;
    background-color: blue;
    padding: 5px;
    justify-content: space-around;
}

.logo img{
    width: 85px;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo{
    background-color: blue;
}

.menu ul li{
    display: inline;
    color: white;
    margin-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.icons i{
    margin: 5px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content{
    position: relative;
    top: 40%;
    z-index: 2;
}

.hero h1, h3{
    color: white;
}

.hero h1{
    font-size: 60px;
}

.players{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.player{
    display: block;
    background-color: blue;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    width: 120px;
    border-radius: 15px;
}

.name{
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.position{
    text-align: center;
    color: white;
}

.rating{
    color: gold;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 5px;
    text-align: center;
}

h3 {
    font-size: 100px;
    font-style: bold;
}

.barca {
    font-size: 500px;
    font-style: bold;
}

a {
    text-decoration: none;
    color: red;
}
a:hover {
    color:   white;
}

.player:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
